<div class="headline">
  <div class="container">
    <h3 class="headline-title"> Open Account </h3>
  </div>
</div>

<section class="classical-grid">
  <div class="container">
    <h3 style="margin-top:-20px;">
      Our Top Accounts
    </h3>
    <div class="row">
      <div class="col-md-12">
        <div class="row mb">
          <div class="col-md-4">
            <div class="card">
              <div class="card-title">
                <h3 class="pb text-center" style="color:#003b71; font-size:25px; ">Essential Checking </h3>
              </div>

              <hr/>
              <div class="card-body">
                <p class="text-center">
                  A full-service checking account that offers easy ways to avoid the monthly maintenance fees.
                </p>
                <div class="pb">
                </div>
                <div class="text-center">
                  <%= link_to "Open an Account", new_user_registration_path, class: "btn btn-cta ", style: "text-align:center !important" %>
                </div>
                <div class="pb">
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-title">
                <h3 class="pb text-center" style="color:#003b71; font-size:25px; ">Essential Savings  </h3>
              </div>

              <hr/>
              <div class="card-body">
                <p class="text-center">
                  This account makes it easy and convenient to start a savings plan for any budget.
                </p>
                <div class="pb">
                </div>
                <div class="text-center">
                  <%= link_to "Open an Account", new_user_registration_path, class: "btn btn-cta ", style: "text-align:center !important" %>
                </div>
                <div class="pb">
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-title">
                <h3 class="pb text-center" style="color:#003b71; font-size:25px; "> Credit Card  </h3>
              </div>

              <hr/>
              <div class="card-body">
                <p class="text-center">
                  5% Cash Back on up to $6,000 spent on gas and grocery qualifying purchases in the first 12 months    </p>
                  <div class="pb">
                  </div>
                  <div class="text-center">
                    <%= link_to "Open an Account", new_user_registration_path, class: "btn btn-cta ", style: "text-align:center !important" %>
                  </div>
                  <div style="padding-bottom:12px;">
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </section>

    <section class="classical-grid" style="background:#fff; margin-top: -10px; padding-top:20px;">
      <div class="container">
        <div class="col-md-9">


        <h3 style="margin-top:20px; ">
          Personal Checkings
        </h3>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-title">
                <h3 class="pb text-center" style="color:#003b71; font-size:25px; ">Essential Checking </h3>
              </div>

              <hr/>
              <div class="card-body">
                <p class="text-center">
                  A full-service checking account that offers easy ways to avoid the monthly maintenance fees.
                </p>
                <div class="pb">
                </div>
                <div class="text-center">
                  <%= link_to "Open an Account", new_user_registration_path, class: "btn btn-cta ", style: "text-align:center !important" %>
                </div>
                <div class="pb">
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-title">
                <h3 class="pb text-center" style="color:#003b71; font-size:25px; "> Select Checking  </h3>
              </div>

              <hr/>
              <div class="card-body">
                <p class="text-center">
                A comprehensive account with enhanced benefits including the option to set up three linked checking accounts.
                </p>
                <div class="pb">
                </div>
                <div class="text-center">
                  <%= link_to "Open an Account", new_user_registration_path, class: "btn btn-cta ", style: "text-align:center !important" %>
                </div>
                <div style="padding-bottom: 15px;">
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-title">
                <h3 class="pb text-center" style="color:#003b71; font-size:25px; ">Balanced Banking® </h3>
              </div>

              <hr/>
              <div class="card-body">
                <p class="text-center">
Designed to help you manage your money and avoid unpleasant surprises from overdraft fees                </p>
                <div class="pb">
                </div>
                <div class="text-center">
                  <%= link_to "Open an Account", new_user_registration_path, class: "btn btn-cta ", style: "text-align:center !important" %>
                </div>
                <div class="pb">
                </div>
              </div>

            </div>
          </div>
        </div>
          </div>
      </div>
    </section>
