<!DOCTYPE html>
<html>
  <head>
    <title>SunTrust Bank | Account </title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Banking services and products from SunTrust Bank including checking and savings accounts, credit cards, mortgages, wealth management and retirement, business and commercial banking."/>
  <meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="SunTrust Bank | Personal, Mortgage and Small Business Banking"/>
  <meta property="og:description" content="Banking services and products from SunTrust Bank including checking and savings accounts, credit cards, mortgages, wealth management and retirement, business and commercial banking."/>
  <meta property="og:url" content="https://www.suntrust.com/"/>
  <meta property="og:image" content="https://www.suntrust.com"/>
  <meta property="og:site_name" content="SunTrust"/>
  <meta property="og:fb:app_id" content="fb"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web|Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'accounts', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

      <%= render "shared/account_menu" %>
      <%= render "shared/menu" %>
      <% if notice %>
      <div class="col-md-8 col-md-offset-2">


      <div class="alert alert-info alert-with-icon" data-notify="container">
                                    <button type="button" aria-hidden="true" class="close">×</button>
                                    <span data-notify="icon" class="ti-bell"></span>
                                    <span data-notify="message"><%= notice %>.</span>
                                </div>
                              </div>
                                <% end %>

    <%= yield %>

      </div>
  </body>
</html>
