<!DOCTYPE html>
<html>
  <head>
    <title>SunTrust Bank | Personal, Mortgage and Small Business Banking</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Banking services and products from SunTrust Bank including checking and savings accounts, credit cards, mortgages, wealth management and retirement, business and commercial banking."/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta property="og:title" content="SunTrust Bank | Personal, Mortgage and Small Business Banking"/>
  <meta property="og:description" content="Banking services and products from SunTrust Bank including checking and savings accounts, credit cards, mortgages, wealth management and retirement, business and commercial banking."/>
  <meta property="og:url" content="https://www.suntrust.com/"/>
  <meta property="og:image" content="https://www.suntrust.com"/>
  <meta property="og:site_name" content="SunTrust"/>
  <meta property="og:fb:app_id" content="fb"/>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "home/headermenu" %>
    <%= yield %>
  </body>
</html>
