<!DOCTYPE html>
<html>
  <head>
    <title>SunTrust Bank | Personal, Mortgage and Small Business Banking</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Banking services and products from SunTrust Bank including checking and savings accounts, credit cards, mortgages, wealth management and retirement, business and commercial banking."/>
  <meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="SunTrust Bank | Personal, Mortgage and Small Business Banking"/>
  <meta property="og:description" content="Banking services and products from SunTrust Bank including checking and savings accounts, credit cards, mortgages, wealth management and retirement, business and commercial banking."/>
  <meta property="og:url" content="https://www.suntrust.com/"/>
  <meta property="og:image" content="https://www.suntrust.com"/>
  <meta property="og:site_name" content="SunTrust"/>
  <meta property="og:fb:app_id" content="fb"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web|Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "home/headermenu" %>
    <% if notice %>
    <div class="container" style="position:absolute; top:100px; left:210px; z-index:10;">
      <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success fade in">
       <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p><%= notice %> </p>
    </div>
  </div>
      </div>
      <% elsif alert %>
      <div class="container">
        <div class="col-md-12">
          <div class="alert alert-danger fade in">
             <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p><%= alert %></p>
          </div>
        </div>
      </div>
          <% end %>
    <%= yield %>
  </body>
</html>
